## Introducción

Proyecto para la extracción y transformación de la colección digital Relaciones Geográficas a un modelo semántico basado en el vocabulario [European Data Model](https://pro.europeana.eu/page/edm-documentation).

En este prototipo se han seleccionado [81 obras](input/manifests.txt) a través de sus manifests en formato JSON de la colección [Relaciones Geográficas of Mexico and Guatemala](https://collections.lib.utexas.edu/?f%5Bmods_relatedItem_titleInfo_title_source_t%5D%5B%5D=Relaciones+Geogr%C3%A1ficas+of+Mexico+and+Guatemala). 
El [dataset](rdf/relaciones_uca.rdf) se ha transformado al formato RDF siguiendo el vocabulario EDM.

El prototipo incluye las [modificaciones realizadas para la transformación a RDF con la herramienta Open Refine](openrefine/openrefine-steps.json). También se ha desarrollado un [Jupyter Notebook](https://nbviewer.org/github/hibernator11/UCA-relacionesgeograficas/blob/main/notebooks/EjemplosSPARQL.ipynb) que se puede ejecutar en la plataforma Binder.

### Importamos la librería rdflib y cargamos el fichero RDF

In [2]:
from rdflib import Graph

# Create a Graph
g = Graph().parse("rdf/relaciones_uca.rdf")

### Consultar número de clases

In [4]:
print('##### numero de clases')

# Query the data in g using SPARQL
q = """
    PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
    PREFIX edm: <http://www.europeana.eu/schemas/edm/>

    SELECT (count(distinct ?class) as ?classes)
    WHERE {
        ?s a ?class .
    }
"""

# Apply the query to the graph and iterate through results
for r in g.query(q):
    print(r["classes"])

##### number of classes
7

### Consultar número de propiedades

In [6]:
print('##### numero de propiedades')

# Query the data in g using SPARQL
q = """
    PREFIX skos: <http://www.w3.org/2004/02/skos/core#>
    PREFIX edm: <http://www.europeana.eu/schemas/edm/>

    SELECT (count(distinct ?prop) as ?properties)
    WHERE {
        ?s ?prop ?o .
    }
"""

# Apply the query to the graph and iterate through results
for r in g.query(q):
    print(r["properties"])

##### numero de propiedades
33

### Consultar enlaces a repositorios externos

In [7]:
print('##### owl:sameAs')
    
# Query the data in g using SPARQL
q = """
    PREFIX skos: <http://www.w3.org/2004/02/skos/core#>

    SELECT (count(distinct ?sameAs) as ?total)
    WHERE {
        ?p owl:sameas ?sameAs .
    }
"""

# Apply the query to the graph and iterate through results
for r in g.query(q):
    print(r["total"])

##### owl:sameAs
0

### Número de tripletas

In [8]:
print('##### numero de tripletas')
    
# Query the data in g using SPARQL
q = """
    PREFIX ore: <http://www.openarchives.org/ore/terms/>
    PREFIX edm: <http://www.europeana.eu/schemas/edm/>
    PREFIX dc: <http://purl.org/dc/elements/1.1/>

    SELECT (COUNT(*) as ?triples) 
    WHERE { ?s ?p ?o } 

"""

# Apply the query to the graph and iterate through results
for r in g.query(q):
    print(r["triples"])

##### numero de tripletas
3386